$bifrost: (
  blacks: (
    oil: rgba(51, 51, 51, 1),
    liver: rgba(87, 75, 79, 1),
    firefly: rgba(20, 37, 53, 1),
    bunker: rgba(46, 46, 46, 1),
    outerSpace: rgba(48, 55, 61, 1),
    loblolly: rgba(182, 188, 184, 1),
    darkGrey: rgba(85, 87, 88, 1),
    stormDust: rgba(97, 97, 97, 1),
  ),

  whites: (
    desertStorm: rgba(238, 234, 225, 1),
    narvik: rgba(232, 229, 218, 1),
    concrete: rgba(243, 243, 243, 1),
    solitude: rgba(236, 239, 244, 1),
    ghostWhite: rgba(248, 249, 254, 1),
    milkPunch: rgba(242, 227, 195, 1),
  ),

  reds: (
    sipRed: rgba(236, 35, 66, 1),
    cinnabar: rgba(233, 65, 42, 1),
    fireEngine: rgba(208, 32, 21, 1),
    jasper: rgba(210, 55, 75, 1),
    charm: rgba(206, 107, 127, 1),
    brickRed: rgba(199, 40, 61, 1),
    stiletto: rgba(162, 53, 58, 1),
    coralRed: rgba(253, 65, 76, 1),
    mordantRed: rgba(173, 9, 13, 1),
    candyAppleRed: rgba(249, 16, 17, 1),
  ),

  pinks: (
    cerise: rgba(230, 0, 58, 1),
    hydrogenSea: rgba(177, 9, 62, 1),
    roman: rgba(229, 101, 97, 1),
    radicalRed: rgba(249, 73, 120, 1),
    contessa: rgba(187, 104, 108, 1),
    wildWatermelon: rgba(253, 112, 121, 1),
    contessa: rgba(190, 108, 94, 1),
    razzmatazz: rgba(229, 23, 113, 1),
    hotlinePink: rgba(254, 188, 208, 1),
    petiteOrchid: rgba(224, 153, 156, 1),
    lipstick: rgba(150, 31, 97, 1),
  ),

  purples: (
    redViolet: rgba(165, 95, 126, 1),
    darkByzantium: rgba(98, 66, 93, 1),
    marjorelleBlue: rgba(94, 64, 223, 1),
    portage: rgba(142, 154, 212, 1),
    brightLavender: rgba(194, 130, 254, 1),
    pastelViolet: rgba(208, 152, 208, 1),
  ),

  browns: (
    bole: rgba(126, 69, 68, 1),
  ),

  oranges: (
    cadmiumOrange: rgba(228, 130, 46, 1),
    bittersweet: rgba(252, 108, 96, 1),
    pomegranate: rgba(247, 84, 24, 1),
    deepCarrotOrange: rgba(241, 113, 48, 1),
    vermillion: rgba(254, 76, 2, 1),
    sunsetOrange: rgba(251, 96, 88, 1),
    persimmon: rgba(251, 105, 77, 1),
    crusta: rgba(251, 123, 55, 1),
  ),

  greens: (
    shamrock: rgba(71, 204, 165, 1),
    feijoa: rgba(166, 228, 127, 1),
    tradewind: rgba(102, 192, 184, 1),
    padua: rgba(134, 182, 141, 1),
    vistaBlue: rgba(138, 215, 177, 1),
    sushi: rgba(130, 188, 51, 1),
    atlantis: rgba(145, 200, 41, 1),
    cruise: rgba(189, 223, 208, 1),
    laurel: rgba(124, 147, 124, 1),
    aquaMarine: rgba(143, 253, 221, 1),
    crusoe: rgba(2, 78, 16, 1),
  ),

  yellows: (
    sweetCorn: rgba(247, 224, 118, 1),
    apache: rgba(221, 189, 112, 1),
    saffron: rgba(255, 195, 45, 1),
    clayCreek: rgba(140, 132, 93, 1),
    schoolbusYellow: rgba(244, 218, 8, 1),
    confetti: rgba(237, 218, 88, 1),
    goldenRod: rgba(254, 217, 105, 1),
    butterMilk: rgba(255, 242, 179, 1),
    butterCup: rgba(247, 168, 31, 1),
    indianYellow: rgba(233, 161, 77, 1),
    galliano: rgba(223, 167, 38, 1),
    oldGold: rgba(212, 174, 67, 1),
    fuelYellow: rgba(236, 178, 41, 1),
    treePoppy: rgba(251, 144, 31, 1),
    yellowSea: rgba(251, 165, 6, 1),
  ),

  blues: (
    lightSeaGreen: rgba(25, 163, 162, 1),
    neptune: rgba(121, 159, 181, 1),
    baliHai: rgba(132, 154, 177, 1),
    bayOfMany: rgba(43, 49, 142, 1),
    spray: rgba(130, 210, 225, 1),
    tiffanyBlue: rgba(4, 172, 185, 1),
    azure: rgba(52, 100, 163, 1),
    ultramarine: rgba(22, 22, 149, 1),
    whiteIce: rgba(224, 252, 244, 1),
    bahamaBlue: rgba(29, 174, 237, 1),
    cerulean: rgba(29, 174, 237, 1),
    electricBlue: rgba(128, 235, 252, 1),
    sapphire: rgba(15, 87, 201, 1),
  ),
);

@function bifrost($base-color, $tone: '') {
  @return map-get(
    map-get($bifrost, $base-color),
    $tone
  );
}
